html {
	border-color: #575757;
	color: #e8e6e3;
	background-color: #181a1b !important;
}

body {
	display:block;
	padding:2em;
	margin:auto;
	font-family: 'Roboto', sans-serif;
}

p.example {
	display:inline;
}

p.Xcode {
	display:block;
	margin:0;
}

.colorName {
	display:block;
	text-align:center;
	padding:0;
}

.colorCode{
	display:block;
	text-align:center;
	padding:1px;
	margin:auto;
	width:6em;
}

#blockContainer{
	padding:2em;
	margin:auto;
}

.colorBlock{
	display:inline-grid; /* this is the change */
	border-style: none;
	/*border-color:invisible;
	border-width:1px;*/
	margin:.5em;
	padding:.5em;
	width:8em;
	height:8em;
}

span {
	padding:0;
	margin:0;
}

.slider{
	width:7em;
	padding-top: 5px;
	display:block;
	margin:auto;
}

.terminal {
	background-color: black;
}

.terminal-bar {
	background-color: aliceblue;
	height: 20px;
	text-align: right;
}

.terminal-bar-ul {
	list-style: none;
}

.terminal-bar-ul > li {
	display: inline-block;
	padding-right: 10px;
}

.control {
	height: 13px;
	width: 13px;
	border-radius: 100%;
}

.term-green {
	background-color: green;
}

.term-yellow {
	background-color: #cc9900;
}

.term-red {
	background-color: red;
}
